# Working with Movies Data

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("/Users/babarhussain/Downloads/Rating.csv")
movies

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [4]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [5]:
movies.shape

(559, 6)

In [6]:
movies.isnull().any().any()

False

In [7]:
movies.isnull()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
554,False,False,False,False,False,False
555,False,False,False,False,False,False
556,False,False,False,False,False,False
557,False,False,False,False,False,False
558,False,False,False,False,False,False

In [8]:
type(movies)

pandas.core.frame.DataFrame

In [9]:
len(movies)

559

In [10]:
len(movies.columns)

6

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Film                       559 non-null    object
 1   Genre                      559 non-null    object
 2   Rotten Tomatoes Ratings %  559 non-null    int64
 3   Audience Ratings %         559 non-null    int64
 4   Budget (million $)         559 non-null    int64
 5   Year of release            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [12]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [13]:
movies.tail()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [14]:
movies.columns=['Film','Genre','CriticRating','AudienceRating','BudgetMillions','Year']
movies.head()

,Film,Genre,CriticRating,AudienceRating,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [15]:
movies.describe()

       CriticRating  AudienceRating  BudgetMillions         Year
count    559.000000      559.000000      559.000000   559.000000
mean      47.309481       58.744186       50.236136  2009.152057
std       26.413091       16.826887       48.731817     1.362632
min        0.000000        0.000000        0.000000  2007.000000
25%       25.000000       47.000000       20.000000  2008.000000
50%       46.000000       58.000000       35.000000  2009.000000
75%       70.000000       72.000000       65.000000  2010.000000
max       97.000000       96.000000      300.000000  2011.000000

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            559 non-null    object
 1   Genre           559 non-null    object
 2   CriticRating    559 non-null    int64
 3   AudienceRating  559 non-null    int64
 4   BudgetMillions  559 non-null    int64
 5   Year            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [17]:
movies[['Film','Genre','CriticRating','AudienceRating','Year']] = movies[['Film','Genre','CriticRating','AudienceRating','Year']].astype('category')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            559 non-null    category
 1   Genre           559 non-null    category
 2   CriticRating    559 non-null    category
 3   AudienceRating  559 non-null    category
 4   BudgetMillions  559 non-null    int64
 5   Year            559 non-null    category
dtypes: category(5), int64(1)
memory usage: 34.3 KB

In [18]:
movies['Film'] = 'Films'
movies.head(0)

Empty DataFrame
Columns: [Film, Genre, CriticRating, AudienceRating, BudgetMillions, Year]
Index: []

In [19]:
import matplotlib.pyplot as plt
import seaborn as ss
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [20]:
se = ss.jointplot(data=movies, x='CriticRating', y='CriticRating')
se

In [21]:
se1 = ss.histplot(movies['Genre'])
se1